<div class="overlay" #overlay></div>
<div class="bg">
<div class="box">
    <h1>Admin Login</h1>
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" autocomplete="off">
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password">
    <br><br>
    <button (click)="login()">Login</button>
    <br><br>
    <p>{{ message }}</p>
</div>
<div class="table-data">
    <div *ngIf="data">
      <h2>Feedbacks</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Area</th>
            <th>Police Station</th>
            <th>Feedback</th>
            <th>Policeman Name</th>
            <th>Registered FIR</th>
            <th>Rating</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.area }}</td>
            <td>{{ item.policeStation }}</td>
            <td>{{ item.feedback }}</td>
            <td>{{ item.policeman }}</td>
            <td>{{ item.registeredFIR }}</td>
            <td>{{ item.rating }}</td>
            <td>{{ item.id }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>