nav {
  display: flex;
  justify-content: center;
  background-color: #8f8f8f;
  width: 100%;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  border-radius: 20px;
  font-size: 16px;
  transition: font-size 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a.active {
  font-size: 20px;
  background-color: #333;
  color: #fff;
}
