<div class="container">
<div class="data">
  <h1>Welcome To Gujarat Police Feedback System</h1>
  <div class="buttons">
    <button (click)="feedback()">GIVE FEEDBACK</button>
    <button (click)="admin()">ADMIN PANEL</button>
  </div>
</div>
<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div>
</div>
<div class="overlay" [ngClass]="{'show': showOverlay}"></div>
